@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);
* {
  padding: 0;
  margin: 0;
}
.controls {
  margin: 50px;
  text-align: center;
}
body {
  background-color: #aacfd0;
}
h1,
h2,
time {
  font-family: Josefin Slab;
  font-size: 60px;
  text-align: center;
  color: #364f6b;
}
button {
  background: #4479ba;
  color: #fff;
  font-family: Josefin Slab;
  font-size: 50px;
  text-align: center;
  border: 1px solid black;
  margin: 20px;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 2px 2px black;
}

button:hover {
  background: #356094;
}
.timers {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  text-align: center;
  font-size: 50px;
  margin: 20px;
  padding: 15px 25px;
}
