* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Verdana;
  background-color: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
body:before {
  content: "";
  background-color: white;
  width: 30%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
}
p {
  font-size: 5rem;
}
